.clients {
    padding-top: 94px;
    padding-bottom: 94px;
}
.clients h2 {
    font-size: 36px;
    margin-top: 0px;
    margin-bottom: 50px;
    display: $display;
    justify-content: center;
}

.clients-list {
    list-style: none;
    padding-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    display: flex;
    justify-content: center;

.item {
    display: $display;
    justify-content: center;
    align-items: center;   
    }
}

.clients-list .item + .item {
    margin-left: 30px;
}

.company {
    fill: currentColor;
}

.company-link {
    width: 170px;
    height: 90px;
    display: $display;
    justify-content: center;
    align-items: center;
    color: $social-link-color;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    transition-property: border, color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); 

    &:hover {
        color: $accent-color;
        border-color: $accent-color;
    }
}







